* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    width: 100%;
    height: 100%;

    @media (max-width:1080px) {
        font-size: 93.75%;
    }
    
    @media (max-width:728) {
        font-size: 87.5%;
    }
}

body {
   font-family: 'Roboto Slab', sans-serif;
    background-image: url('./assets/bg_img.png');
    background-size: cover;
}

button {
    cursor: pointer;
}

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4)
}

.container-header {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: .6rem;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    padding: 1rem;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #777D5D;
    padding: .6rem;

    transition: filter 0.3s ease;
}

li a:hover {
    filter: brightness(0.4);
}

#home{
    color: #363C2A;
}


nav button {
    width: 8rem;
    height:3rem;
    border-radius: 10px 0 10px 0;
    border: none;
    background-color: #7C937B;

    font-size:18px;
    color: #fff;

    transition: filter 0.3s ease;
}

nav button:hover {
    filter: brightness(0.9);
}

main {
    width: 100%;
    height: 100vh;
}

section.center {
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 8rem;
    height: 24rem;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.description {
    padding-top: 2.5rem;;
    max-width:940px;
    margin: 0 auto;
    align-items: center;
    text-align: center
}

.description p {
    font-size:24px;
    color: #363C2A;
    text-align: center;
    font-weight: 400;

    margin-top: 1.3rem;
}

.description button {
    width: 13rem;
    height: 3rem;
    margin-top: 1.5rem;

    background-color: #FF4D00;
    color: #fff;

    border: none;
    border-radius: 10px 0 10px 0 ;

    font-size: 1.2rem;

    transition: filter 0.3s ease;

}

.description button:hover {
    filter: brightness(0.8)
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size:3rem;
    text-align: center;
    font-weight: 400;
    color: #363C2A;
    padding: 1rem;
}

.title img {
    height: 3px;
    width:35%
}

section.most-pop {
    width: 100%;
    max-width: 78rem;
    height:30rem;

    background-color: #fff;

    margin: 12rem auto;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
}

.most-title {
    text-align: center;
}

section.most-pop .most-title h1 {
    font-size: 2.8rem;
    font-weight: 400;
}

.most-title img {
    width: 50%;
    height: 4px;
}

.images {
    display: flex;
    padding: 4.5rem;
    align-items: center;
}

.images .image {
    width: 13.4rem;
    margin: 2.5rem;

    transition: width 0.3s ease;
}

.images .image:hover {
    width: 17rem;
}

.images img {
    width: 100%;
    border-radius: 1.3rem;
}


